/* Reset CSS Ligero */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  line-height: var(--line-height-normal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;

}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root {
  height: 100%;
  isolation: isolate;
}

/* Fix focus outline from Recharts */
.recharts-wrapper:focus,
.recharts-surface:focus,
.recharts-layer:focus,
svg:focus {
  outline: none !important;
}